.Container {
  margin: 0 15px;
}

@media (min-width: 576px) {
  .Container {
    margin: 0 auto;
    width: 510px;
  }
}

@media (min-width: 768px) {
  .Container {
    width: 690px;
  }
}

@media (min-width: 992px) {
  .Container {
    width: 930px;
  }
}

@media (min-width: 1200px) {
  .Container {
    width: 1110px;
  }
}

@media (min-width: 1400px) {
  .Container {
    width: 1290px;
  }
}
