@import '../../colors.scss';

.HeaderSlider {
  background-color: map-get($map: $colors, $key: 'background_light');
}

.carousel .slide {
  background-color: transparent;
}

.HeaderSlider__slide {
  position: relative;
}

.HeaderSlider__button {
  position: absolute;
  right: 5%;
  bottom: 5%;
  font-size: 10px;
  padding: 5px 10px;
  border: 2px solid #737373;
  &,
  &:hover,
  &:active,
  &:visited {
    color: #454647;
    text-decoration: none;
  }
  &:hover {
    color: map-get($map: $colors, $key: 'primary');
    border-color: map-get($map: $colors, $key: 'primary');
  }
}

@media (min-width: 576px) {
  .HeaderSlider__button {
    font-size: 16px;
    bottom: 10%;
  }
}

@media (min-width: 992px) {
  .HeaderSlider__button {
    padding: 20px 30px;
    right: 15%;
    bottom: 10%;
  }
}
