@import '../../colors.scss';

.LookbooksSection {
  margin-bottom: 124px;
}

.lookbook_card {
  position: relative;
  background-color: map-get($map: $colors, $key: 'background_light');
  text-align: right;
  padding: 20px 20px 20px 0;
  margin: 20px auto;
}

.lookbook_card__img {
  position: absolute;
  left: 20px;
  bottom: 0;
  height: calc(100% - 20px);
  object-fit: contain;
}

.lookbook_card__content {
  position: relative;
  z-index: 1;
  margin-left: 33%;
}

.lookbook_card__title {
  font-size: 25px;
  font-weight: lighter;
  color: #575153;
}

.lookbook_card__title_decoration {
  font-weight: bold;
}

.lookbook_card__description {
  font-size: 12px;
  color: #727272;
}

.lookbook_card__link {
  font-size: 12px;
  padding: 10px 10px;
  border: 2px solid #737373;
  display: inline-block;
  &:hover,
  &:active,
  &:visited {
    color: #737373;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: white;
    background-color: map-get($map: $colors, $key: 'primary');
  }
}

@media (min-width: 380px) {
  .lookbook_card {
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .lookbook_card__img {
    left: 40px;
    height: calc(100% - 40px);
  }
}

@media (min-width: 500px) {
  .lookbook_card__title {
    font-size: 48px;
  }

  .lookbook_card__description,
  .lookbook_card__link {
    font-size: 15px;
  }

  .lookbook_card__link {
    padding: 20px 30px;
  }
}

@media (min-width: 736px) {
  .lookbook_card {
    padding-bottom: 140px;
  }
}

@media (min-width: 1200px) {
  .LookbooksSection {
    display: flex;
    flex-direction: row;
    margin-bottom: 124px;
  }

  .lookbook_card {
    flex: 1;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .lookbook_card__title {
    font-size: 25px;
  }

  .lookbook_card__description {
    font-size: 12px;
  }

  .lookbook_card__link {
    padding: 10px 20px;
  }

  .lookbook_card {
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .lookbook_card__img {
    left: 20px;
    height: calc(100% - 20px);
  }
}

@media (min-width: 1400px) {
  .lookbook_card__title {
    font-size: 48px;
  }

  .lookbook_card__description {
    font-size: 15px;
  }

  .lookbook_card {
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 140px;
  }

  .lookbook_card__img {
    left: 40px;
    height: calc(100% - 40px);
  }

  .lookbook_card__link {
    padding: 20px 30px;
  }
}
