@import '../../colors.scss';

.NavDropdown {
  margin-bottom: 10px;
  &:first-child {
    margin-top: 10px;
  }
}

.NavDropdown__menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-left: 10px;
  overflow: hidden;
}

.NavDropdown__menu--active {
}

.NavDropdown__toggler {
  cursor: pointer;
  font-size: 13px;
  color: #222222;
  &:hover {
    color: map-get($map: $colors, $key: 'primary');
  }
}

@media (min-width: 768px) {
  .NavDropdown__menu {
    display: none;
    z-index: 1;
  }
}
