@import '../../colors.scss';

.Navbar {
  position: relative;
  background-color: white;
}

.Navbar__header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.menu__container {
  padding: 0 20px;
}

.header {
  font-weight: normal;
}

.header__link {
  font-size: 24px;
  color: #222222;
  text-decoration: none;
  &:hover {
    color: map-get($map: $colors, $key: 'primary');
    text-decoration: none;
  }
}

.header__decoration {
  font-weight: bold;
}

.Navbar__bars_icon {
  cursor: pointer;
  &:hover {
    color: map-get($map: $colors, $key: 'primary');
  }
}

.Navbar__menu {
  display: none;
  overflow: hidden;
  background-color: map-get($map: $colors, $key: 'background_light');
}

.Navbar__menu--active {
  //display: block;
}

.Navbar__link {
  font-size: 13px;
  color: #222222;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  &:hover {
    color: map-get($map: $colors, $key: 'primary');
    text-decoration: none;
  }
}

.SubNavDropdown .NavDropdown__toggler {
  font-size: 12px;
  color: #575153;
  &:hover {
    color: map-get($map: $colors, $key: 'primary');
  }
}

.NavDropdown__link {
  font-size: 14px;
  color: #727272;
  text-decoration: none;
  margin: 4px 0;
  &:hover {
    color: map-get($map: $colors, $key: 'primary');
    text-decoration: none;
  }
}

.banner__container {
  background-color: map-get($map: $colors, $key: 'background');
  max-width: 400px;
  height: 150px;
  font-size: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Navbar__search {
  width: 100%;
  margin: 10px 0;
  background-color: transparent;
  border: 2px solid grey;
  color: #989898;
  font-size: 13px;
  padding: 7px 0 7px 10px;
  &::placeholder {
    color: #989898;
  }
}

.Navbar__search_wraper {
  position: relative;
  max-width: 190px;
}

.Navbar__search_icon {
  position: absolute;
  top: calc(50% - 8px);
  right: 15px;
  color: #989898;
}

@media (min-width: 400px) {
  .banner__container {
    height: 200px;
  }
}

@media (min-width: 576px) {
  .Navbar__header_container {
    margin: auto;
    width: 510px;
  }
  .menu__container {
    margin: auto;
    width: 510px;
  }
}

@media (min-width: 768px) {
  .Navbar {
    width: 690px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  .Navbar__menu {
    width: 690px;
    margin-top: 30px;
  }
  .Navbar__search_wraper {
    position: absolute;
    top: 0;
    right: 0;
  }
  .Navbar__menu {
    position: static;
    display: block;
    background-color: transparent;
    width: 330px;
  }
  .menu__container {
    display: flex;
    flex-direction: row;
    width: auto;
    margin: 0;
    justify-content: space-between;
    padding: 0;
  }
  .Navbar__header_container {
    width: auto;
    margin: 0;
    padding: 0;
  }
  .Navbar__bars_icon.fas {
    display: none;
  }
  .NavDropdown__arrow.fas {
    display: block;
    margin-top: 6px;
  }
  .NavDropdown:first-child {
    margin-top: 0;
  }
  .Navbar__search {
    border-color: #e7e7e7;
  }
  .menu__container > .NavDropdown:hover > .NavDropdown__menu {
    display: grid;
    position: absolute;
    grid-template-columns: repeat(2, 185px);
    grid-column-gap: 30px;
    grid-row-gap: 60px;
    background-color: #f8f8f8;
    padding: 30px;
    width: auto;
    box-shadow: 0 17px 24px rgba($color: #000000, $alpha: 0.14);
    .NavDropdown__banner {
      grid-column: 1/3;
    }
  }
  .SubNavDropdown {
    .NavDropdown__menu {
      margin-top: 30px;
      display: flex;
      padding-left: 0;
    }
    .NavDropdown__arrow.fas {
      display: none;
    }
    .NavDropdown__toggler {
      cursor: default;
      &:hover {
        color: #575153;
      }
    }
  }
  .banner__container {
    width: 400px;
  }
}

@media (min-width: 992px) {
  .Navbar {
    width: 930px;
  }
}

@media (min-width: 1200px) {
  .Navbar {
    width: 1110px;
  }
}

@media (min-width: 1400px) {
  .Navbar {
    width: 1290px;
    flex-direction: row;
    align-items: center;
  }
  .Navbar__search_wraper {
    position: relative;
    order: 1;
    margin: 0 0 0 auto;
  }
  .Navbar__search {
    margin: 0;
  }
  .Navbar__menu {
    width: 50%;
    margin-left: auto;
    margin-top: 0;
  }
  .menu__container :not(:first-child) {
    margin-right: 20px;
    margin-bottom: 0;
  }
}
