@import '../../colors.scss';

.HeaderCarousel__wraper {
  background-color: map-get($map: $colors, $key: 'background_light');
  padding-top: 44%;
  position: relative;
}

.HeaderCarousel {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  .react-multi-carousel-track {
    height: 100%;
  }
}

.HeaderCarousel__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.HeaderCarousel__button {
  position: absolute;
  right: 5%;
  bottom: 5%;
  font-size: 10px;
  padding: 5px 10px;
  border: 2px solid #737373;
  &,
  &:hover,
  &:active,
  &:visited {
    color: #454647;
    text-decoration: none;
  }
  &:hover {
    color: map-get($map: $colors, $key: 'primary');
    border-color: map-get($map: $colors, $key: 'primary');
  }
}

@media (min-width: 576px) {
  .HeaderCarousel__button {
    font-size: 16px;
    bottom: 10%;
  }
}

@media (min-width: 992px) {
  .HeaderCarousel__button {
    padding: 20px 30px;
    right: 15%;
    bottom: 10%;
  }
}
