@import '../../colors.scss';

.Footer {
  background-color: map-get($map: $colors, $key: 'background_light');
  padding-top: 30px;
}

.Footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Footer__contact_info {
  margin: 0;
}

.Footer__banner {
  margin-top: 30px;
  padding: 40px;
  font-size: 16px;
  color: white;
  text-align: center;
}

.Footer__award {
  background-color: map-get($map: $colors, $key: 'background');
}

.Footer__social {
  background-color: map-get($map: $colors, $key: 'primary');
}

.Footer__social_icon:not(:last-child) {
  margin-right: 30px;
}

.Footer__copyright {
  text-align: center;
  background-color: map-get($map: $colors, $key: 'background');
  color: #999999;
  margin-top: 30px;
  padding: 30px 0;
}

.copyright__info {
  margin: 0;
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media (min-width: 380px) {
  .Footer__banner {
    padding: 60px 50px;
    font-size: 20px;
  }

  .Footer__copyright {
    padding: 40px 0;
  }
}

@media (min-width: 576px) {
  .Footer__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .FooterDropdown:last-child {
    grid-column: 1/3;
  }
}

@media (min-width: 768px) {
  .Footer__container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .FooterDropdown:last-child {
    grid-column: 2/4;
  }

  .Footer__banner {
    font-size: 30px;
  }
}

@media (min-width: 992px) {
  .Footer__copyright {
    padding: 15px 0;
  }

  .copyright__container {
    display: flex;
  }

  .copyright__info:not(:last-child) {
    margin-bottom: 0;
  }

  .copyright__info:nth-child(2) {
    margin-left: auto;
    margin-right: 30px;
  }
}

@media (min-width: 1200px) {
  .Footer {
    padding-top: 60px;
  }

  .Footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }

  .Footer__banners {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
  }

  .Footer__banner {
    flex: 1;
    font-size: 36px;
  }

  .Footer__award {
    margin-right: 30px;
  }

  .Footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
